#index_con
	#index_left
		%h1 
			Personalised and Scientific suggestions
			%br/
			at every stage of your career
		=render :partial => "shared/navigation"
		
		.cf
		%h2
			Suggestions based on your interests, 
			%br/
			aptitude and personality. 
	#index_right	
		=render :partial => "shared/sign_up"