.cf
.step2_left
	%h2
		Help us know more about you
		%br/
		and get
	%h3
		Personalised Career Suggestions 
		%br/
		Latest Event updates
		%br/
		Expert Guidance
.step2_right
	=render :partial => "shared/signup_started"

			
		
.cf