.cert_right
	.today
		.heading
			TODAY
		%ul
			%li
				.img
					%img{:src=>"../../images/user.jpg", :title=>"User Name", :alt=>"User Name"}
				.tod_update
					%p
						%span
							John Doe
						has just updated their 
						profile. 
						
					%p.min_ago
						a few minutes ago