.cert_left
	%ul
		%li.left_head
			.head_bg01
			My Leaps
			.cf
		%li
			%a{:href=>"#", :title=>"Certification"}
				Careers
			.cf
		%li
			%a{:href=>"#", :title=>"Colleges"}
				Colleges	
			.cf
		%li
			%a{:href=>"#", :title=>"Events"}
				Events
			.cf
		%li
			%a.visited{:href=>"#", :title=>"Certificate Courses"}
				Certificate Courses
			.cf
		%li
			%a{:href=>"#", :title=>"Experts"}
				Experts
			.cf
		%li
			%a{:href=>"#", :title=>"Discussions"}
				Discussions
	%ul
		%li.left_head
			.head_bg01.head_bg02
			Me
			.cf
		%li
			%a{:href=>"#", :title=>"Certification"}
				Career Records
			.cf
		%li
			%a{:href=>"#", :title=>"Certification"}
				My Interests
			.cf
		%li
			%a{:href=>"#", :title=>"Certification"}
				My Friends say
			.cf
		%li
			%a{:href=>"#", :title=>"Certification"}
				Psychometry
			.cf
		%li
			%a{:href=>"#", :title=>"Certification"}
				My Follows
			.cf

	
	.tell_more
		%h2
			Tell us More
		%p
			There are so many ways we can know more about you! Get more accurate suggestions by updating
			%a{:href=>"#", :title=>"Academics"}
				Academics 
			
			%a{:href=>"#", :title=>"Work Experience"}
				Work Experience 
			
			%a{:href=>"#", :title=>"Certification"}
				Certification
			.cf
		%P
			You Can Also tell us
			%a{:href=>"#", :title=>"What you like"}
				What you like 
			
			%a{:href=>"#", :title=>"What you don't like"}
				What you don't like
		%P
			Ask your friend to tag you
			%a{:href=>"#", :title=>"What you like"}
				What you like 
			
			%a{:href=>"#", :title=>"What you don't like"}
				What you don't like
