#footer
	#footer_data
		%ul
			%li
				%a{:href=>"../example/index", :title=>"Go To Index Page"}
					Home            
			%li
				%a{:href=>"../example/step2", :title=>"Go To Index2 Page"}
					About us
			%li
				%a{:href=>"../example/v2", :title=>"Go To Home Page"}
					Jobs

			%li
				%a{:href=>"../example/events", :title=>"Go To Home Page"}
					Contact us
		%P
			nextLeap &copy;2011
		.cf