#header
	#header_data
		%a.logo_div{:href=>"../example/index", :title=>"Your Next Leap Logo"}
			.logo
		%ul
			%li
				%a{:href=>"../example/login", :title=>"Please login using user name and password"}
					Login
			%li
				%input.btnsubmit.sign_up_btn{:name => "sign_up", :type => "submit", :value => "Sign Up"}/

		%ul
			%li
				%a{:href=>"../example/index", :title=>"Go To Home Page"}
					Career
			%li
				%a{:href=>"../example/step2", :title=>"Go To Index2 Page"}
					Colleges
			%li
				%a{:href=>"../example/v2", :title=>"Go To Home Page"}
					Events
			%li
				%a{:href=>"../example/scholarships", :title=>"Go To Home Page"}
					Scholarships
.cf
		