.slider_started
	.field_title
		What fields are you interested in?
	.fields
		.left_arrow
			%a{:href => "#"}
				%img{:alt => "Left_arrow", :src => "../images/left_arrow.png"}/
		.feild_list
			%ul.slider
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Science
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					COMMORSE Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Engineering
					%br/
					&amp; Technology 
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
					
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				%li
					.feild_img_checkbox
						%img{:alt => "Missing_large", :src => "../images/missing_large.jpg"}/
						%input#user_field_ids_.checkbox.feild_checkbox{:name => "user[field_ids][]", :type => "checkbox", :value => "126"}/
					Performing Arts
				
				
				
		.right_arrow
			%a{:href => "#"}
				%img{:alt => "Right_arrow", :src => "../images/right_arrow.png"}/
		.cf
		%input#user_submit.btnsubmit.right{:name => "commit", :type => "submit", :value => "Start Suggesting"}/
		
.cf