%form{:action=>"", :method=>"post"}
	%p
		%select.list_menu{:name=>"Option01", :title=>"Stream"}
			%option{:value=>"Stream"}
				Stream
			%option{:value=>"Stream01"}
				Stream01
			%option{:value=>"Stream02"}
				Stream02
			%option{:value=>"Stream03"}
				Stream03

	%p
		%select.list_menu{:name=>"Option01", :title=>"Stream"}
			%option{:value=>"Field"}
				Field
			%option{:value=>"Field01"}
				Field01
			%option{:value=>"Field02"}
				Field02
			%option{:value=>"Field03"}
				Field03
	%p.right
		%select.list_menu{:name=>"Option01", :title=>"Stream"}
			%option{:value=>"Career"}
				Career
			%option{:value=>"Career01"}
				Career01
			%option{:value=>"Career02"}
				Career02
			%option{:value=>"Career03"}
				Career03
	.cf
	%p
		%select.list_menu{:name=>"Option01", :title=>"Stream"}
			%option{:value=>"Location"}
				Location
			%option{:value=>"Location01"}
				Location01
			%option{:value=>"Location02"}
				Location02
			%option{:value=>"Location03"}
				Location03
	%p
		%select.list_menu{:name=>"Option01", :title=>"Duration Type"}
			%option{:value=>"Duration Type"}
				Duration Type
			%option{:value=>"Duration Type01"}
				Duration Type01
			%option{:value=>"Duration Type02"}
				Duration Type02
			%option{:value=>"Duration Type03"}
				Duration Type03
	%input.btnsubmit_green{:name => "commit", :type => "submit", :value => "Suggest"}/

	